body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #5c678f;
}

h1,
h3 {
  text-align: center;
}

.header {
  text-align: center;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.chart-title {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.github-link {
  display: inline-block;
}

.github-icon {
  width: 23px;
  height: 23px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0.5;
}

.github-link:hover .github-icon {
  transform: scale(1.2);
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(92, 103, 143, 0.2);
}

.chart-container {
  position: relative;
  margin-bottom: 30px;
}

.tooltip {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  width: 500px;
}

.tooltip-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 500px;
  max-width: 60%;
  background-color: rgba(92, 103, 143, 0.8);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: -200%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#exercises-filter {
  font-size: 1em;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #5c678f;
  margin-bottom: 30px;
  color: #5c678f;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
    margin: 5px auto;
    padding: 5px;
  }
}
